<p id="notice"><%= notice %></p>

<h1>Analytics</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Original</th>
      <th>Converted</th>
      <th>Creation date</th>
      <th>Times used</th>
    </tr>
  </thead>

  <tbody>
    <% @short_urls.each do |short_url| %>
      <tr>
        <td><%= short_url.original %></td>
        <td><%= link_to short_url.converted, short_url.converted %></td>
        <td><%= time_ago_in_words(short_url.created_at) + ' ago' %></td>
        <td><%= short_url.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
